nbproject/private/
nbproject/Makefile-*.mk
nbproject/Package-*.bash
nbproject/genfiles.properties
nbproject/nbjdk.properties
nbproject/jdk.xml
nbproject/nbjdk.xml
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
.nb-gradle-properties
nbactions.xml
nb-configuration.xml

*.class
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

*.log
hs_err_pid*
replay_pid*

*~
*.bak
*.tmp
*.swp
*.swo
*.kate-swp

.DS_Store
Thumbs.db
desktop.ini

.idea/
*.iml
*.ipr
*.iws
.vscode/

target/
.gradle/
out/